@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');/* ========================css link=================== */
/* ----------------------------------------- */
:root{
    --popins: "Poppins", sans-serif;
    --roboto: "Roboto", sans-serif;
    --brandcolor:#09cdfa;
}
body {
    /* height: 100vh; */
    background: #081c29 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.container{
    width: 1140px;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
/* ---------------------------Navbar start---------------------------- */ 
.main_manu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-nav{
    display: flex;
}
.manu_img img{
    width: 90px;
    height: 90px;
}
/* .navbar-nav li{
    list-style: none;
    
} */
.navbar_start ul  a{
    font-size: 16px;
    font-weight: 600;
    color: #fff !important;
    font-family: var(--popins);
    position: relative;
    text-decoration: none;
}
.navbar_start ul  a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -10px;
    background: var(--brandcolor);
    border-radius: 5px;
    transform: scaleX(0);
    transition:  transform  .4s;
    transform-origin: right;
}
.navbar_start ul  a:hover::after,
.navbar_start ul  a.active::after {
    transform: scaleX(1);
    transform-origin: left;
}
.navbar_start ul{
    gap: 60px;
}

/* ------------navbar end-------------------- */
.todo{
    width: 100%;
    max-width: 400px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo h1{
    font-size: 20px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #8b8585;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    border: none;
    outline: none;
    flex: 1;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
.row ::placeholder{
    color: #3d3737;
    font-weight: 500;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: var(--brandcolor);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    color: #fff;
}
 li{
    list-style: none;
    padding: 12px 8px 12px 50px;
    font-size: 17px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
 li::before{
    content: '';
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: absolute;
    background-image: url(../to-to-imge/radio.png);
    background-size: cover;
    background-position: center;
    top: 6px;
    left: 8px;
}
 li.checked{
    color: var(--brandcolor);
    text-decoration: line-through;
}
 li.checked::before{
    background-image: url(../to-to-imge/check.png)

}
 li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    transition: all linear .2s;
}
 li span:hover{
    background: #edeef0;
    
}